- stockpile ||= :stockpile
= form_for stockpile, url: listing_stockpiles_path(listing) do |f|
  %fieldset
    %legend= Spree.t(:listing)
    %dl
      %dt= f.label :material, Spree.t(:material)
      %dd= f.select :material, material_options_for_select
      %dt= f.label :weight, Spree.t(:weight_available)
      %dd
        = f.number_field :weight, value: params[:weight]
        %span.boxed= Spree.t(:pounds)
      %dt= f.label :packaging, Spree.t(:packaging)
      %dd= f.select :packaging, packaging_options_for_select, include_blank: true
      %dt= f.label :process_state, Spree.t(:processing)
      - options = process_state_options_for_select
      %dd= f.select :process_state, options, multiple: true, include_blank: true
      %dt= f.label :origin, Spree.t(:origin_product)
      %dd= f.text_field :origin
      %dt= f.label :notes
      %dd= f.text_area :notes
    .form-action
      = f.submit :submit, value: "Save Listing"