- # TODO: Fix selects getting the wrong defaults
= form_for form_helper, url: offer_path(key), method: :put do |f|
  %fieldset
    %legend= Spree.t(:offer_basics)
    %dl
      %dt= f.label :minimum_pounds_per_load, Spree.t(:minimum_weight)
      %dd= f.number_field :minimum_pounds_per_load
      %dt= f.label :transport_method, Spree.t(:transported_via)
      %dd= f.select :transport_method, options_for_select(Spree::Offer::TransportMethods)
      %dt= f.label :usd_per_pound, Spree.t(:price_per_pound)
      %dd= f.number_field :usd_per_pound, :step => 0.00001, :min => 0
      %dt= f.label :shipping_terms
      %dd= f.select :shipping_terms, options_for_select(Spree::Offer::Terms)
      %dt= f.label :expires_at, Spree.t(:expiration_date)
      %dd= f.date_field :expires_at
      %dt= f.label :address1, Spree.t(:destination_street_address)
      %dd= f.text_field :address1
      %dt= f.label :address2, Spree.t(:secondary_address)
      %dd= f.text_field :address2
      %dt= f.label :city, Spree.t(:destination_city)
      %dd= f.text_field :city
      %dt= f.label :zipcode
      %dd= f.text_field :zipcode
      %dt= f.label :country, Spree.t(:destination_country)
      - ops = options_for_select(Spree::Country.select_options_arrays)
      %dd= f.select :country, ops
      %dt= f.label :state, Spree.t(:destination_state)
      - ops = options_for_select(Spree::State.select_options_arrays)
      %dd= f.select :state, ops
    .form-actions
      = f.submit "Update"