%li.rating-row.row.bottom-wall
  .columns.four.alpha
    .reviewed-name= link_to rating.reviewed.name, shop_path(rating.reviewed)
    .transaction-name= rating.reviewable.created_at.to_formatted_s(:db)
  .columns.twelve.omega
    .stars-row
      = render 'spree/shared/ratings/stars/five', stars: rating.stars.ceil
      = link_to rating_path(rating) do
        = "#{rating.score.ceil} / #{Spree::Rating.max_possible_score}"
    .notes-row
      = link_to rating.notes, rating_path(rating)
    .dates-row
      = "--"
      = link_to rating.reviewer.name, shop_path(rating.reviewer)
      = rating.created_at.to_formatted_s(:long)