= form_for :listing, url: listings_path, builder: Spree::FormBuilder do |f|
  %fieldset.listing-form
    %legend= Spree.t(:new_listing)
    %dl
      %dt= f.label :category, Spree.t(:plastic_category)
      %dd= f.select :category, Spree::Taxon.plastics.map(&:name)
      %dt= f.label :weight, Spree.t(:weight_available)
      %dd= f.number_field :weight
      %dt= f.label :available_on
      %dd= f.date_field :availble_on
      %dt= f.label :expires_on
      %dd= f.date_field :expires_on
    .form-actions
      = f.submit
