- listing ||= :listing_form_helper
= form_for listing, url: listings_path, builder: Spree::FormBuilder do |f|
  %fieldset.listing-form
    %legend= Spree.t(:listing_data)
    %dl
      %dt= f.label :material, Spree.t(:plastic_category)
      %dd= f.select :material, Spree::Material.all_as_options_array
      %dt= f.label :origin_products, Spree.t(:original_product)
      %dd= f.text_field :origin_products, placeholder: "Milk Jugs"
      %dt= f.label :pounds_on_hand, Spree.t(:weight_available)
      %dd
        = f.number_field :pounds_on_hand
        %span.boxed= Spree.t(:pounds)
      %dt= f.label :packaging, Spree.t(:packaging)
      %dd= f.select :packaging, packaging_options_for_select, include_blank: true
      %dt= f.label :process_state, Spree.t(:processing)
      - options = process_state_options_for_select
      %dd= f.select :process_state, options, multiple: true, include_blank: true
      %dt= f.label :available_on
      %dd= f.date_field :available_on
      %dt= f.label :expires_on
      %dd= f.date_field :expires_on
      %dt= f.label :notes
      %dd= f.text_area :notes
  %fieldset.listing-form
    %legend= Spree.t(:listing_location)
    %dl
      %dt= f.label :address1, Spree.t(:street_address)
      %dd= f.text_field :address1
      %dt= f.label :address2, Spree.t(:secondary_address)
      %dd= f.text_field :address2
      %dt= f.label :city, Spree.t(:city)
      %dd= f.text_field :city
      %dt= f.label :zipcode
      %dd= f.text_field :zipcode
      %dt= f.label :state
      %dd= f.select :state, options_for_select(Spree::State.all_names)
      %dt= f.label :country
      %dd= f.select :country, options_for_select(Spree::Country.all_names)
  %fieldset.form-actions
    %legend= Spree.t(:form_actions)
    .form-actions
      = f.submit value: "Create"
      
